---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
							<ul class="actions">
              <li><a href="#one" class="button special scrolly">Découvrir la conduite</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Conduite</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
				<div class="table-wrapper">
					<table>
						<thead>
							<tr>
								<th>Nom</th>
								<th>Sketch ou Chanson</th>
								<th>Description</th>
								<th>Temps estimé</th>
								<th>Temps cumulé</th>
							</tr>
						</thead>
						<tbody>
              {% assign previousDuration = 0 %}
              {% assign totalDuration = 0 %}
              {% for page in site.html_pages %}
                {% if page.kind == 'Chanson'  or page.kind == 'Sketch' %}
                <tr>
                  <td><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></td>
                  <td>{{ page.kind }}</td>
                  <td><a href="{{ site.baseurl }}{{ page.url }}">{{ page.pitch }}</a></td>
                  <td>{{ page.duration }}mn</td>
                  {% assign totalDuration = previousDuration | plus: page.duration %}
                  <td>{{ totalDuration }}mn</td>
                  {% assign previousDuration = page.duration %}
                </tr>

                {% endif %}
              {% endfor %}
						</tfoot>
					</table>
            <strong>Temps total : {{ totalDuration }}mn</strong>
				</div>
							</header>
						</div>
					</section>

